<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
	<listeners>
		<listener class-name="frameworkPackage.TestListener"></listener>
	</listeners>
	<test name="Test">
		<classes>
			<class name="com.sample.api.TestGetOrder">
			</class>
			<class name="com.sample.api.TestPostTransaction">
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->